<h1 id='title'>Weather Web App</h1>
<h2>{{pageName}}</h2>

<div id='links'>
    <a href='/'>Home</a>       <!-- relative to registered views folder via app.set('views') -->
    <a href='/weather'>Weather</a>
    <a href='/about'>About</a>
</div>