<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='css/styles.css'>
</head>

<body>
    <div id='main-content'>
        {{>header}}
        <div id='aboutInfo'>
            <h2 id='about'>Use this web site to get a weather based on location</h2>
            <img src='images/weather.jpg' alt='image here...'>
        </div>
    </div>
    {{>footer}}
</body>

</html>